<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next vacation with us? That's great! Give us a call or contact us on Facebook and we will get back to you as soon as possible!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <i class="fab fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            <a href="https://www.facebook.com/Tambobongbeachcabanasresort">
            <p>Facebook Us</p>
            </a>
        </div>
        <div class="col-lg-2 text-center">
            <i class="fab fa-facebook-messenger fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            <a href="http://m.me/Tambobongbeachcabanasresort">
            <p>Messenger Us</p>
            </a>
        </div>
        <div class="col-lg-2 text-center">
            <i class="fas fa-phone-alt fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            <a href="tel:639957401857">
            <p>Call Now</p>
            </a>
        </div>
        <div class="col-lg-2 text-center">
            <i class="fas fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            <a href="mailto:letsgocabanas@icloud.com">
            <p>Email</p>
            </a>
        </div>
    </div>
</section>
