<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome to the Cabanas Famly Resort</h1>
            <hr>
            <p>The Cabanas Family Resort is a Family-Owned Resort built on land that's been passed on through generations. Located in Tambobong Pangasinan, we are proud to prerserve and share our hidden gem with you. 

</p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Reserve Now</a>
        </div>
    </div>
</header>
