<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-microphone wow bounceIn text-primary"></i>
                    <h3>Karoke</h3>
                    <p class="text-muted">Karoke to express yourself judgement-free</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-utensils wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Food</h3>
                    <p class="text-muted">Hot-to-Order food made by out wonderful on-site chefs!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-ship wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Hidden Beach</h3>
                    <p class="text-muted">Take a boat to a hidden island in the far distance</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-fan wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Air Condition</h3>
                    <p class="text-muted">Air Conditioned rooms available to get away from the heat</p>
                </div>
            </div>
        </div>
    </div>
</section>
